<div class="list-group ">

  <% @stops.each do |stop| %>
    <div class = "row">
      <div class="col-md-12">
        <a href="#" class="list-group-item">
         <%= stop["stop_name"]+ " - " + sprintf("%.2f", stop["distance"]) %>
        </a>
      </div>
  </div>
  <% end %>

</div>


