<div class="list-group col-xs-12">

<% @stops.each do |stop| %>

  <a href="#" class="list-group-item">
     <%= stop["stop_name"]+ " - " + sprintf("%.2f", stop["distance"]) %>
  </a>
  <% end %>
</div>


