<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>MBTA EASY</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
 <script>
    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);

    function success(position) {
      var mylat = position.coords.latitude;
      var mylong = position.coords.longitude;
      $('#long').text(mylong);
      $('#lat').text(mylat);
      postToBus();
    }

    function failure(){
      alert('doesnt work, please use a browser that supports geolocation');
    }
    </script>

    <script>
    function postToBus(){
      $.post('/bus', {long: $('#long').text(), lat: $('#lat').text()}, function(displayData) {
        $(".display").html(displayData);
      });
    };
    </script>





<div class="jumbotron">


 <h3> Welcome to MBTA Easy Train & Bus </h3>
  <h4> A website built to be mobile and fast </h4>
</div>
 <div class="container-fluid">

  <div class="display" >

  </div>


  <a> To get started: </a>
  <ul>
  <li> Choose closest bus </li>
    <li>OR</li>
    <li> Choose</li>
  </ul>




  </div>

<h3>will show up here</h3>
  <h4 id='long'>long</h4>
  <h4 id='lat'>lat</h4>

    <nav class="navbar navbar-inverse navbar-fixed-bottom " role="navigation">
       <div class="container-fluid">

         <ul class="nav navbar-nav navbar-left  ">
            <button type="button" class="navbar-btn btn btn-success" >
         Find Closest Bus</button>
            <button type="button" class="btn  navbar-btn btn-warning" >
          Find Closest Train</button>
          </ul>

      </div>
    </nav>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
