<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MBTA EASY</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/modernizr.js" type="text/javascript"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">

  </head>
  <body>
 <script>
    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);

    function success(position) {
      var mylat = position.coords.latitude;
      var mylong = position.coords.longitude;
      $('#long').text(mylong);
      $('#lat').text(mylat);
      postToBus();
    }

    function failure(){
      alert('doesnt work, please use a browser that supports geolocation');
    }

    function postToBus(){
      $.post('/bus', {long: $('#long').text(), lat: $('#lat').text()}, function(displayData) {
        $(".display").html(displayData);
      });
    };
    </script>
<script src="js/modernizr.js" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      if(!Modernizr.meter){
        alert('Sorry your brower does not support HTML5 progress bar');
      } else {
        var progressbar = $('#progressbar'),
          max = progressbar.attr('max'),
          time = (1000/max)*7,
              value = progressbar.val();

          var loading = function() {
              value += 1;
              addValue = progressbar.val(value);

              $('.progress-value').html(value + '%');

              if (value == max) {
                  clearInterval(animate);
              }
          };

          var animate = setInterval(function() {
              loading();
          }, time);
      };
    });
  </script>



<img src = "EasyTrainBus.png" width="100%" height="auto">
  <div class="jumbotron">
   <div class="container-fluid">
      <div class = "col-md-12">
     <h3> Welcome to MBTA Easy Train & Bus </h3>
      <h4> A website built to be mobile and fast </h4>
    </div>
  </div>
</div>




<div class="container-fluid">

    <div class="row">
      <div class="display"> </div>
    </div>


<div class="row">
 <div class="demo-wrapper html5-progress-bar">
    <div class="progress-bar-wrapper">
      <progress id="progressbar" value="0" max="100"></progress>
      <span class="progress-value">0%</span>
    </div>
  </div>


    <div class = "col-xs-12">
      <a> To get started: </a>
      <ul>
        <li> Choose closest bus </li>
        <li>OR</li>
        <li> Choose</li>
      </ul>
    </div>
  </div>



  <h3>will show up here</h3>
    <h4 id='long'>long</h4>
    <h4 id='lat'>lat</h4>

      <nav class="navbar navbar-inverse navbar-fixed-bottom " role="navigation">
         <div class="container">

           <ul class="nav navbar-nav navbar-left  ">
              <button type="button" class="navbar-btn btn btn-success" >
           Find Closest Bus</button>
              <button type="button" class="btn  navbar-btn btn-warning" >
            Find Closest Train</button>
            </ul>

        </div>
      </nav>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
