<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MBTA EASY</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="js/jquery.js" type="text/javascript"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">

  </head>
  <body>
 <script>
    x = navigator.geolocation;

    x.getCurrentPosition(success, failure);

    function success(position) {
      var mylat = position.coords.latitude;
      var mylong = position.coords.longitude;
      postToBus(mylat,mylong);
      $('#long').text(mylong);
      $('#lat').text(mylat);

    }

    function failure(){
      alert('doesnt work, please use a browser that supports geolocation');
    }

    function postToBus(mylat, mylong){
      $.post('/bus', {long: mylat, lat: mylong}, function(displayData) {
        $(".display").html(displayData);
      });
    };
    </script>

  <!-- <script src="js/modernizr.js" type="text/javascript"></script> -->

<img src = "EasyTrainBus.png" width="100%" height="auto">
  <div class="jumbotron">
   <div class="container-fluid">
      <div class = "col-md-12">
     <h3> Welcome to MBTA Easy Train & Bus </h3>
      <h4> A website built to be mobile and fast </h4>
    </div>
  </div>
</div>




<div class="container-fluid">


    <div class="row">
      <div class="display"> </div>
    </div>




    <div class = "col-xs-12">
      <a> To get started: </a>
      <ul>
        <li> Choose closest bus </li>
        <li>OR</li>
        <li> Choose</li>
      </ul>
    </div>
  </div>



  <h3>will show up here</h3>
    <h4 id='long'>long</h4>
    <h4 id='lat'>lat</h4>

    <%= erb :navbar %>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>
