      <nav class="navbar navbar-inverse navbar-fixed-bottom " role="navigation">
         <div class="container">

           <ul class="nav navbar-nav navbar-left  ">
              <a href="/">
              <button type="button" class="navbar-btn btn btn-success" >
                Closest</button></a>

              <a href="/dobus">
              <button type="button" class="navbar-btn btn btn-success" >
                Specific Bus</button></a>
              <button type="button" class="btn  navbar-btn btn-warning" >
            Find Closest Train</button>
            </ul>

        </div>
      </nav>
